@font-face {
  font-family: MuseoSans;
  src: url("../fonts/MuseoSans_700.otf");
}

@font-face {
  font-family: MuseoSansThin;
  src: url("../fonts/MuseoSans_300.otf");
}

body {
  height: 100%;
  background-repeat: no-repeat;
  background-image: url("../img/crash.png");
  background-size: 100%;
  font-family: MuseoSans;
}

.iphone {
  height: 50%;
  width: 50%;
  float: left;
}

h1 {
  font-size: 90px;
}

.subtitle {
  font-size: 30px;
}

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
}
body {
  color: #fff;
  text-align: center;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}



/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  /*font-weight: bold;*/
}


/*
 * Footer
 */

.mastfoot {
/*  color: #999;  IE8 proofing 
  color: rgba(255,255,255,.5);*/
  font-size: 20px;
  font-family: MuseoSansThin;
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}
